.whole-container {
  width: 500px;
  margin: 0 auto;
}

.title-container {
  display: flex;
  // margin-top: 10px;
  padding: 0px 0px;

  width: 450px;
  height: 400px;
  background-image: url('https://ifh.cc/g/p3n0CK.png');
  background-repeat: no-repeat;
  background-size: 450px;
  display: flex;
  justify-content: center;

  align-items: center;
}
.quiz-title {
  font-family: 'HSYuji-Regular';
  font-size: 23px;

  // align-items: center;
}
.input-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  margin-top: 40px;
  background-size: 370px;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url('https://ifh.cc/g/sxCPq2.png');
  font-family: 'HSYuji-Regular';
}
// .second-answer-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 450px;
//   height: 120px;
//   margin-top: 20px;
//   background-size: 370px;
//   background-repeat: no-repeat;
//   background-position: center;
//   border: 1px solid black;
//   background-image: url('https://ifh.cc/g/sxCPq2.png');
// }
.heart {
  width: 40px;
}
.answer {
  opacity: 0;
}
label {
  font-size: 18px;
  cursor: pointer;
}
.real-container {
  width: 300px;
  line-height: 30px;
}
.label-container {
  text-align: center;
  width: 300px;
}
.heart-container {
  display: flex;
  align-items: center;
  width: 300px;
}
.heart {
  width: 30px;
}
.heart-up-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
}
.loading {
}
.loading-container {
  width: 500px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .high-div {
    .whole-container {
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      position: absolute;
      width: 350px;
      // height: 100%;
      // margin: auto 0;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
    }
    .title-container {
      display: flex;
      // margin-top: 10px;
      padding: 0px 10px;

      width: 350px;
      height: 350px;
      background-image: url('https://ifh.cc/g/p3n0CK.png');
      background-repeat: no-repeat;
      background-size: 360px;
      display: flex;
      justify-content: center;

      align-items: center;
    }
    .quiz-title {
      font-family: 'HSYuji-Regular';
      font-size: 19px;

      align-items: center;
    }
    .input-container {
      // margin-left: 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 350px;
      height: 100px;
      margin-top: 50px;
      margin-bottom: 30px;
      background-size: 350px;
      background-repeat: no-repeat;
      background-position: center;

      background-image: url('https://ifh.cc/g/sxCPq2.png');
      font-family: 'HSYuji-Regular';
    }
    .real-container {
      width: 240px;
      line-height: 30px;
    }
    .heart-container {
      display: flex;
      width: 50%;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    .heart {
      width: 26px;
    }
    .heart-up-container {
      display: flex;
      width: 350px;
      justify-content: center;
      align-items: center;
      margin-left: 0px;

      // margin-left: 40px;
    }
    // .high-div {
    //   display: flex;
    //   margin: auto;
    //   border: 4px solid black;
    //   height: 100vh;
    // }
  }
  .loading {
    width: 100%;
  }
  .loading-container {
    width: 350px;
    margin: 0 auto;
    padding-top: 20px;
  }
}
