.whole-container {
  width: 500px;
  margin: 0 auto;
}

.title-container {
  display: flex;
  // margin-top: 10px;
  padding: 0px 0px;

  width: 450px;
  height: 400px;
  background-image: url('https://ifh.cc/g/p3n0CK.png');
  background-repeat: no-repeat;
  background-size: 450px;
  display: flex;
  justify-content: center;

  align-items: center;
}
.quiz-title {
  font-family: 'HSYuji-Regular';
  font-size: 23px;

  // align-items: center;
}
.input-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  margin-top: 40px;
  background-size: 370px;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url('https://ifh.cc/g/sxCPq2.png');
  font-family: 'HSYuji-Regular';
}
// .second-answer-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 450px;
//   height: 120px;
//   margin-top: 20px;
//   background-size: 370px;
//   background-repeat: no-repeat;
//   background-position: center;
//   border: 1px solid black;
//   background-image: url('https://ifh.cc/g/sxCPq2.png');
// }
.heart {
  width: 40px;
}
.answer {
  opacity: 0;
}
label {
  font-size: 18px;
  cursor: pointer;
}
.real-container {
  width: 300px;
  line-height: 30px;
}
.label-container {
  text-align: center;
  width: 300px;
}
.heart-container {
  display: flex;

  width: 300px;
}
.heart {
  width: 30px;
}
.heart-up-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
}
.loading {
}
.loading-container {
  width: 500px;
  margin: 0 auto;
}
