// Result.js
.result {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-family: HSYuji-Regular;
}

// 500px 이하 미디어 쿼리
@media (max-width: 500px) {
  .result {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-family: HSYuji-Regular;
  }
}

//Adult
.adult-container {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .adult-button-life {
    width: 100%;
    font-size: 1.2rem;
    height: 100px;
    align-items: center;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px 0;

    a {
      height: 50px;
      padding: 20px 0;
      position: absolute;
      top: 43px;
      left: 50px;
      right: 50px;
      text-decoration: none;
      color: black;

      img {
        position: absolute;
        top: 0px;
        bottom: 20px;
        left: 10px;
      }
    }
  }

  .adult-button-oz {
    width: 100%;
    font-size: 1.2rem;
    height: 100px;
    align-items: center;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;

    a {
      height: 40px;
      position: absolute;
      top: 22px;
      left: 50px;
      right: 50px;
      text-decoration: none;
      color: black;
      padding: {
        top: 20px;
        bottom: 15px;
      };

      img {
        position: absolute;
        top: 0px;
        bottom: 20px;
        left: 10px;
      }
    }
  }
}

@media (max-width: 500px) {
  .adult-container {
    width: 300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .adult-button-life {
      font-size: 1.1rem;

      a {
        height: 50px;
        padding: {
          top: 25px;
          bottom: 0;
        };
      }
    }

    .adult-button-oz {
      font-size: 1.1rem;
      line-height: 1.4rem;

      a {
        padding-top: 12px;
      }
    }
  }
}

// Child

// Result Share
.result-share {
  width: 250px;
  display: flex;
  justify-content: center;
  margin: 20px auto;

  button {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 3px solid black;
    text-align: center;
    align-items: center;
    background-color: rgba(176, 210, 112, 1);
    font: {
      size: 1.2rem;
      family: 'HSYuji-Regular';
    };
  }
}

@media (max-width: 500px) {
  .adult-container {
    .adult-button-life {
      a {
        font-size: 1rem;
      }
    }

    .adult-button-oz {
      a {
      }
    }
  }
}

// Test Retry

.test-retry {
  width: 270px;
  display: flex;
  justify-content: space-around;
  // margin: 20px auto;
  margin: 0 auto;

  button {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid black;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 127, 101);
    margin-bottom: 100px;
    font: {
      size: 1.1rem;
      family: 'HSYuji-Regular';
    };
  }

  .icon-box {
    width: 100%;
    padding: 20px 0;
    border-radius: 20px;
    border: 3px solid black;
    text-align: center;
    align-items: center;
    background-color: #F2CB05;
    margin-bottom: 100px;
    font: {
      size: 1.1rem;
      family: 'HSYuji-Regular';
    };
  }
}

// modal
.modal {
  display: none;
  position: fixed;
  top: 250px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  border: 3px solid black;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);

  .modal-section {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 0.3rem;

    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;

    .close-button {
      width: 30px;
      position: absolute;
      top: 15px;
      right: 15px;
      text-align: center;
      color: #000000;
      background-color: transparent;
      font: {
        size: 2rem;
        weight: 700;
      };
    }

    button {
      outline: none;
      cursor: pointer;
      border: 0;
    }

    main {
      padding: 20px;
      // border-bottom: 1px solid #dee2e6;
      // border-top: 1px solid #dee2e6;
    }
  }
}

.openModal {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}

// Result type
.result-type {
  .result-img {
    margin-top: 30px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: {
      image: url('../assets/result-title.png');
      position: center;
      size: 450px;
      repeat: no-repeat;
    };
  }

  .title {
    font: {
      size: 1.3rem;
      family: 'TmoneyRoundWindExtraBold';
    };
  }

  .sub-title {
    font-size: 1.4rem;
    margin: {
      top: 25px;
      bottom: 10px;
    };
  }

  .sub-title-1 {
    margin-top: 100px;
  }

  .result-box {
    border: 3px solid black;
    border-radius: 20px;
    background-color: rgb(244, 225, 255);
    line-height: 1.5rem;

    .result-detail {
      padding: 20px 20px;
      line-height: 2rem;
      font: {
        size: 0.9rem;
        family: 'TmoneyRoundWindExtraBold';
      };
    }
  }

  .result-type-img {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .result-type {
    .result-img {
      background-size: 343px;

      .title {
        font-size: 0.9rem;
      }
    }

    .result-box {
      .result-detail {
        padding: 22px;

        .result-detail-text {
          font-size: 12px;
        }
      }
    }

    .result-type-img {
      width: 300px;
    }
  }
}

.adult-child-mt {
  margin-top: 100px;
}

.scrollDown {
  padding-top: 60px;
  bottom: 0;
  left: 50%;

  span {
    position: absolute;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 3px solid orange;
    border-radius: 100%;
    box-sizing: border-box;
  }

  span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 3px solid orange;
    border-bottom: 3px solid orange;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }

  span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(253, 204, 41, 0.4);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb 3s infinite;
    animation: sdb 3s infinite;
    box-sizing: border-box;
  }

  @-webkit-keyframes sdb {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 30px rgba(253, 204, 41, 0.4);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 30px rgba(253, 204, 41, 0.4);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}

.margin-scroll {
  margin-top: 50px;
}