@import './mixin';

.team-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'HSYuji-Regular';
  margin: 0 auto;

  .team-box {
    max-width: 500px;
    margin: 0 auto;

    .team-title {
      width: 100%;
      padding: 20px;
      text-align: center;
      font-size: 1.8rem;
      margin-top: 20px;
      p {
        font-family: 'TmoneyRoundWindExtraBold';
        color: rgb(81, 81, 81);
        margin-top: 10px;
        font-size: 0.8rem;
        line-height: 1rem;
      }
    }
    .team-info-box {
      width: 100%;
      height: 100%;
      .team-info {
        width: 500px;
        height: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 20px auto;
        background-image: url('../assets/team.png');

        // border: 2px solid black;
        // border-radius: 10px;
        // background-color: rgb(226, 225, 255);
        .team-name {
          font-size: 1.5rem;
          padding-bottom: 10px;
        }
        img {
          padding-top: 20px;
          width: 150px;
          margin-bottom: 15px;
        }
        p {
          font-size: 0.8rem;
          padding: 2px;
          margin: 0;
        }
        a {
          text-decoration: none;
          color: black;
          padding: 15px;
          border: 2px solid black;
          border-radius: 10px;
          margin: 20px 0;
          background-color: rgba(176, 210, 112, 1);
        }
      }
    }
  }
}

// 미디어쿼리
@include mobile {
  .team-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    .team-box {
      width: 300px;
      margin: 0 auto;
      .team-title {
        width: 100%;
        padding: 10px;
        text-align: center;
        p {
          font-size: 0.6rem;
          line-height: 0.5rem;
        }
      }
      .team-info-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        .team-info {
          width: 300px;
          height: 350px;
          display: flex;
          justify-content: center;
          margin: 0 auto 10px auto;
          background: no-repeat;
          background-size: 300px;
          background-image: url('../assets/team.png');
          img {
            width: 100px;
          }
          .team-name {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@include tablet {
  .container {
    height: 800px;
  }
}

// @include desktop {
// }
